<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rezervasyon</title>
    <link rel="stylesheet" href="/css/reservation.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
</head>
<body>
<div class="container">
    <div class="reserve-container">
        <form class="reserve-form" th:action="@{/reserve}" method="post">
            <h2>Rezervasyon Detayları</h2>

            <input type="text" th:value="${room.name}" readonly />

            <img th:src="@{'/images/rooms/' + ${room.roomPictureName}}" alt="Room Image" class="room-image" />

            <label for="reservationDate">Başlangıç Tarihi:</label>
            <input type="date" name="reservationDate" id="reservationDate" required />

            <input type="hidden" name="roomId" th:value="${room.id}" />

            <label for="endDate">Bitiş Tarihi:</label>
            <input type="date" name="endDate" id="endDate" required />

            <label for="numOfPeople">Kişi Sayısı</label>
            <input type="number" name="numOfPeople" id="numOfPeople" placeholder="Kişi Sayısı" min="1" th:max="${room.size}" required />

            <button type="submit">Rezervasyon Yap</button>
        </form>
    </div>

    <div class="room-details">
        <h3>Oda Özellikleri</h3>
        <ul>
            <li th:each="property : ${properties}" th:text="${property}"></li>
        </ul>
    </div>
</div>

<script th:inline="javascript">
    /*<![CDATA[*/
    const bookedDates = /*[[${bookedDates}]]*/ [];

    const startDateInput = document.getElementById('reservationDate');
    const endDateInput = document.getElementById('endDate');

    const today = new Date().toISOString().split('T')[0];
    startDateInput.min = today;
    endDateInput.min = today;

    function disableBookedDates(dateStr) {
        const date = new Date(dateStr);

        for (const range of bookedDates) {
            const startDate = new Date(range.start);
            const endDate = new Date(range.end);

            if (date >= startDate && date <= endDate) {
                return true;
            }
        }
        return false;
    }

    flatpickr("#reservationDate", {
        minDate: "today",
        disable: [
            function(date) {
                return disableBookedDates(date);
            }
        ],
        onChange: function(selectedDates, dateStr) {
            const endPicker = document.querySelector("#endDate")._flatpickr;
            endPicker.set("minDate", dateStr);
        }
    });

    flatpickr("#endDate", {
        minDate: "today",
        disable: [
            function(date) {
                return disableBookedDates(date);
            }
        ]
    });
    /*]]>*/
</script>
</body>
</html>
